<br><br><br>
<!-- <%= link_to 'GoBack', todos_path ,{:style=>'color:black;font-size:25px;padding-top:5px;margin-left:50px;', :class => "css_class"} %> -->

<br>

<p></p>

<h3 style="margin-left:250px;">Listing Employees</h3>

<table class="centered highlight bordered">
       <thead>
         <tr>
             <th>Email</th>
             <th>Name</th>
             <th>Manager's Name</th>
         </tr>
       </thead>

       <tbody>
         <% @users.each do |user| %>
         <% if @users.nil? %>
         <% return "There is no result to show."  %>
         <% else %>
         <% if user.ismanager==true%>
         <% else %>
         <tr>
           <td><%= user.email %></td>
           <td><%= user.try(:fullname) %></td>
           <td><%= current_user.try(:fullname) %></td>
         </tr>
         <% end %>

         <% end %>

         <% end %>
       </tbody>
     </table>
